body{
background: black;
}
.first{
	background: #297746;
	height: 400px;
	width: 100%;
}
.left{
	float: left;
}
.intro{
	color: white;
	margin: 120px 0px 0px 140px;
	line-height: 20px;
}
.line-one{
	font-weight: 200;
	font-family: 'roboto',sans-serif;
	word-spacing: 3px;
	font-size: 25px;
}
.line-two{
	font-weight: 900;
	font-family: 'roboto',sans-serif;
	font-size: 33px;
	margin: 0px;
	line-height: 22px;
}
.line-three{
	font-family: 'roboto',sans-serif;
	font-weight: 500;
	word-spacing: 4px;
	font-size: 24px;
}
.km{
	margin: 10px 0px 0px 140px;
	color: black;
	background: #31ea95;
	border-radius: 20px;
	height: 40px;
	width: 200px;
	text-align: center;
	box-shadow: 3px 3px 20px black;
}
.km p{
	line-height: 38px;
	font-family: 'roboto',sans-serif;
	font-size: 14px;
}
.right img{
	float: right;
	width: 300px;
	height: 400px;
	margin-right: 180px;
}
.second{
	background: #623b84;
	height: 400px;
	width: 100%;
}
.myself{
	float: left;
	margin: 100px 290px 0px;
	text-align: center;
	height: 250px;
	width: 700px;
}
.head1{
	text-align: center;
	color: #292929;
	font-family: 'roboto',sans-serif;
	font-size: 22px;
	word-spacing: .06em;
}
.aboutme{
	color: #292929;
	font-family: 'roboto',sans-serif;
	margin-top: 50px;
	font-size: 14px;
	letter-spacing: .05em;
	word-spacing: .1em;
}
