body{
background: grey;
}
.first{
	background: #297746;
	height: 400px;
	width: 100%;
}
.left{
	float: left;
}
.intro{
	color: white;
	margin: 120px 0px 0px 140px;
	line-height: 20px;
}
.line-one{
	font-weight: 200;
	font-family: 'roboto',sans-serif;
	word-spacing: 3px;
	font-size: 25px;
}
.line-two{
	font-weight: 900;
	font-family: 'roboto',sans-serif;
	font-size: 33px;
	margin: 0px;
	line-height: 22px;
}
.line-three{
	font-family: 'roboto',sans-serif;
	font-weight: 500;
	word-spacing: 4px;
	font-size: 24px;
}
.km{
	margin: 10px 0px 0px 140px;
	color: black;
	background: #31ea95;
	border-radius: 20px;
	height: 40px;
	width: 200px;
	text-align: center;
	box-shadow: 3px 3px 20px black;
}
.km p{
	line-height: 38px;
	font-family: 'roboto',sans-serif;
	font-size: 14px;
}
img{
	float: right;
	width: 400px;
	height: 400px;
	margin-right: 150px;
}
.second{
	background: #EB4535;
	height: 400px;
	width: 100%;
	margin: -16px 0px 0px 0px;
}
.myself{
	margin: 130px 200px 100px 200px;
}
.head1{
	color: black
	font-size: 20px;
	font-family: 'roboto',sans-serif;
	text-align: center;
}
