body{
background: grey;
}
.first{
	background: #297746;
	height: 400px;
	width: 100%;
}
.main{
	float: left;
}
.intro{
	color: white;
	margin: 90px 0px 0px 140px;
	float: left;
	line-height: 20px;
}
.line-one{
	font-weight: 200;
	font-family: 'roboto',sans-serif;
	word-spacing: 3px;
	font-size: 25px;
}
.line-two{
	font-weight: 900;
	font-family: 'roboto',sans-serif;
	font-size: 33px;
	margin: 0px;
	line-height: 22px;
}
.line-three{
	font-family: 'roboto',sans-serif;
	font-weight: 500;
	word-spacing: 4px;
	font-size: 24px;
}
.km{
	color: black;
	background: #31ea95;
	border-radius: 20px;
	height: 40px;
	width: 200px;
	text-align: center;
	box-shadow: 3px 3px 20px black;
	position: relative;
}

